body{
    background-color: blanchedalmond;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register img{
    width: 20%;
    height: auto;
}
.register i{
    margin-left: 9%;
}
.register i:hover{
    cursor: pointer;
}
