body{
    background-color: rgb(147, 192, 197);
    margin: 0;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 0 2.5rem;
    height: 4.5rem;
    border-bottom: 1px solid #00acd7;
    background-color: rgba(45, 41, 41, 0.673);
}
/* #search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}
#search-bar > input[type="text"] {
    width: 100%;
    height: 100%;
}
#search-bar > input[type="submit"] {
    float: right;
    width: 4rem;
    height: 4rem;
} */

.header-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
}
#header-user {
    width: 25%;
}
#header-search-bar {
    margin: 0 3rem;
    width: 100%;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}

.medium-logo {
    width: 4.5rem;
    height: 4.5rem;
}

.button, input[type="submit"] {
    color: #00acd7;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-size-adjust: 100%;
    padding: 0.35rem 1rem;
    margin: 0 0 8px 0;
    line-height: 1rem;
    background-color: white;
    border: 1px solid #00acd7;
    border-radius: 15px;
    cursor: pointer;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register img{
    width: 20%;
    height: auto;
}
.register i{
    margin-left: 9%;
}
.register i:hover{
    cursor: pointer;
}

.error-message {
    font-size: 12rem;
    font-weight: bold;
    color: red;
}

.profile-picture {
    border-radius: 50%;
    height: auto;
}
.welcome{
    color: antiquewhite;
}
.pfp-small {
    height: 3rem;
    width: 3rem;
}
/* .google{
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    width:5vw;
}
.google img{
    width: 2vw;
    height: 2vh;
}
.google a{
    text-decoration: none;
    color: black;
    text-decoration: solid;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 28vw;
    height: 10vh;
    margin: auto;
    border-radius: 2%;
    text-align: center;
    padding: 0 16px;
}

.center, .login{
    text-align: center;
}
#search-bar input{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 15vw;
    height: 10vh;
}
.btn, .btn-large, .btn-small {
    margin-top: 5vh;
}
.blanc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 40px;
    margin: auto auto 2% auto;
    width: 80%;
    height: fit-content;
    background-color: aliceblue;
}
.bleu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: rgb(108, 184, 236);
}
.logo{
    width: 17vw;
    height: auto;
    margin: auto;
}
.logo img{
    display: flex;
    justify-content: center;
    text-align: center;
}

.center, .logo{
    text-align: center;
}
.comments{
    background-color: rgb(216, 230, 234);
    width: 50%;
    height: 100%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
}
.user{
    
    display:block;
    text-align: left;
    width: 10%;
    border-radius: 3%;
}
.username{
    color: rgba(251, 39, 39, 0.637);
    font-weight:bold;
}
.topic_show{
    margin: auto;
    width: 25vh;
    color: white;
    font-weight:bold;
}
.topic_content{
    color: aliceblue;
    font-weight:bold;
}
.topic_creator{
    background-color: rgb(11, 16, 18);
    width: 50%;
    height: 100%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
}

.welcome-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}