{{define "admin-page"}}
    {{template "head" .}}
    <div id="content">
        <div class="content-section">
            <h1>Création de Nouveau tag</h1>
            <form method="post">
                <input type="text" name="tag" placeholder="Nom du tag">
                <input type="submit" name="envoyer" value="Envoyer">
            </form>
            <h1>Ban</h1>
            {{template "ban-page" .}}
            <h1>Supprimer un topic</h1>
            {{template "topic-remove" .}}
        </div>
    </div>
    {{template "foot" .}}
{{end}}