{{define "friend-message-page"}}
    {{template "head" .}}
        <div id="content">
            <div class="content-section">
                <div class="content-vertical">
                    <div class="friend-messages">
                        {{range .Page.FriendList.SelectedFriendMessages}}
                            <div class="{{if .UserIsSender -}} sent-message {{- else -}} received-message {{- end}}">
                                <span class="info-text">{{.Sender.Username}}, {{.CreationTime}}</span>
                                <span class="message-text">{{if .UserIsSender -}} {{.SenderContent}} {{- else -}} {{.RecipientContent}} {{- end}}</span>
                            </div>
                        {{end}}
                    </div>
                    <form action="/friends/message/send">
                        <input type="text" name="message" placeholder="{{Translate "message"}}">
                        <input type="submit" value="{{Translate "send-message"}}">
                    </form>
                </div>
            </div>
        </div>
    {{template "foot" .}}
{{end}}