{{define "friend-message-page"}}
    {{template "head" .}}
    <div class="friend-messages">
        {{range .Page.FriendList.SelectedFriendMessages}}
            {{if .UserIsSender }}
                <div class="sent-message">
                    <p>{{.Sender.Username}}, {{.CreationTime}}</p>
                    <h3>{{.SenderContent}}</h3>
                </div>
            {{else}}
                <div class="received-message">
                    <p>{{.Sender.Username}}, {{.CreationTime}}</p>
                    <h3>{{.RecipientContent}}</h3>
                </div>
            {{end}}
        {{end}}
    </div>
    <form method="post">
        <input type="text" id="input-message" name="message" placeholder="{{Translate "message"}}">
        <input type="submit" value="{{Translate "sendmessage"}}" name="send-message">
    </form>
    {{template "foot" .}}
{{end}}