{{define "google"}}
    {{template "head" .}}
    <div class="ren">
        <div class="content-section">
            <div class="bookmark">
                <img class="logo" src="/images/goeasy_logo_white.png" alt="">
            </div>
            <form method="post">
                <input type="text" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="text" name="pseudo" placeholder="Pseudo">
                <input type="text" name="name" placeholder="First Name">
                <input type="text" name="lastname" placeholder="Last Name">
                <input type="submit" name="google" value="Register">
            </form>
        </div>
    </div>
    {{template "foot" .}}
{{end}}