{{define "header"}}
<div id="header">
    <a class="header-section" href="/home">
        <img class="medium-logo" src="/images/goeasy_logo_white.png" alt="">
    </a>
    <div class="header-section">
    </div>
    <form id="header-search-bar" class="header-section" method="post">
        <input type="text" name="search-input" placeholder="Recherche dans le Site">
        <input type="submit" name="search-submit" value="{{Translate "search"}}">
    </form>
    <div id="header-user" class="header-section">
        {{if .Login}}
            <a href="/friends">Friend</a>
            <span class="welcome">{{Translate "welcome"}}, {{.User.PublicInfo.Username}}</span>
            <img class="profile-picture pfp-small" src="{{PFPCheck .User.PublicInfo.ImageLink}}" alt=""></img>
        {{else}}
            <a href="/login" class="button"> {{Translate "login"}} </a>
            <a href="/register" class="button"> {{Translate "register"}} </a>
        {{end}}
    </div>
</div>
{{end}}