{{define "header"}}
<header>
    <div class="header-menu">
        <a href="/home">
            <img class="medium-logo" src="/images/goeasy_logo_color.png" alt="">
        </a>
        <div>
            <a href="login" class="small-button"> {{Translate "login"}} </a>
            <a href="register" class="small-button"> {{Translate "register"}} </a>
        </div>
    </div>
    <form id="search-bar">
        <input type="text" id="search-input" name="site-search" placeholder="{{Translate "search"}}">
        <input type="submit" id="search-button" name="search-submit" value="Q">
    </form>
    <div class="header-menu">
        {{if .Login}}
            <span class="">{{Translate "welcome"}}, {{.User.PublicInfo.Username}}</span>
            <img class="profile-picture pfp-small" src="{{PFPCheck .User.PublicInfo.ImageLink}}" alt=""></img>
        {{else}}    
            <a href="/login" class="small-button"> {{Translate "login"}} </a>
            <a href="/register" class="small-button"> {{Translate "register"}} </a>
        {{end}}
    </div>
</header>
{{end}}