{{define "home-page"}}
    {{template "head" .}}
        <div id="content">
            <div class="content-section">
                <div class="content-vertical">
                    <img class="logo" src="/images/goeasy_logo_color.png" alt="">
                    <h1>Bienvenue sur GoEasy</h1>
                </div>
            </div>
            <div class="content-section">
                {{range .Page.TopicList.Topics}}
                    {{template "topic-preview" .}}
                {{end}}
            </div>
        </div>

    {{template "foot" .}}
{{end}}
