{{define "login-page"}}
    {{template "head" .}}
        <form method="post">
            <input type="text" id="input-username" name="username" placeholder="Pseudonyme">
            <input type="password" id ="input-password" name="password" placeholder="Mot de Passe">
            <input type="submit" value="{{Translate "login"}}" name="login">
            <input type="submit" value="{{Translate "logout"}}" name="disconnect">
        </form>
        {{template "googlev2" .}}
    {{template "foot" .}}
{{end}}