{{define "login"}}
<!DOCTYPE html>
<html lang="en">
    {{template "head" .}}
    <body>
        {{template "header" .}}
        <form method="post">
            <input type="text" id="input-username" name="username" placeholder="Pseudonyme">
            <input type="password" id ="input-password" name="password" placeholder="Mot de Passe">
            <input type="submit" value="Se Connecter" name="login">
            <input type="submit" value="Se Déconnecter" name="disconnect">
        </form>
    </body>
</html>
{{end}}