{{define "topic-page"}}
    {{template "head" .}}
        <div class="topic_creator">
            <div class="topic_show">
                {{.Page.TopicList.SelectedTopic.Name}}
            </div>
            <div class="topic_content">
                {{.Page.TopicList.SelectedTopic.Content}}
            </div>
        </div>
        {{range .Page.TopicList.SelectedTopic.Comments}}
            {{template "comment" .}}
        {{end}}
        <form method="post">
            <input type="text" name="comment" placeholder="Rentrer votre commentaire">
            <input type="submit" value="Envoyer" name="submit">
        </form>
    {{template "foot" .}}
{{end}}