{{define "topic-create-page"}}
    {{template "head" .}}
    <div id="content">
        <div class="content-section">
            <div class="bookmark">
                <img class="logo" src="/images/goeasy_logo_white.png" alt="">
            </div>
                <input type="text" name="nametopic" placeholder="Title Topic">
                <input type="text" name="texttopic" placeholder="Text in your Topic">
                <input type="submit" name="post" value="Submit">
        </div>
    </div>
    {{template "foot" .}}
{{end}}