{{define "update"}}
<!DOCTYPE html>
<html lang="en">
    {{template "head" .}}
    <body>
        {{template "header" .}}
        <form method="post">
            <input type="password" id ="input-password" name="password" placeholder="Mot de Passe">
            <input type="password" id ="input-password" name="checkpassword" placeholder="Mot de Passe">
            <input type="text" name="code" placeholder="Code de confirmation">
            <input type="submit" name="envoyer" value="Envoyer">
        </form>
    </body>
</html>
{{end}}