{{define "update-page"}}
    {{template "head" .}}
    <div id="content">
        <div class="content-section">
            <div class="content-horizontal">
                <div class="bookmark">
                    <img class="logo" src="/images/goeasy_logo_white.png" alt="">
                </div>
                <form method="post">
                    <input type="password" id ="input-password" name="password" placeholder="Mot de Passe">
                    <input type="password" id ="input-password" name="checkpassword" placeholder="Mot de Passe">
                    <input type="text" name="code" placeholder="Code de confirmation">
                    <input type="submit" name="envoyer" value="Envoyer">
                </form>
            </div>
        </div>
    </div>
    {{template "foot" .}}
{{end}}